<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Corona Dashboard</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>

    <div class="title-box">
        <h1>Corona Global Stats</h1>
    </div>
